body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 500px
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Top Banner */
.top-banner1 {
  background-color: rgb(38, 24, 104);
  margin: -5px;
  height: 20px
}
.top-banner2 {
  background-color: #c1ccdd;
  margin: -5px
}

/* Avatar */
.avatar-small-image {
  height: 70px;
  width: 75px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  padding: 0px;
  position: absolute;
  top: 48px;
  right: 5px;
  filter: grayscale(80%);
}

/* Header image */
.logo-image {
  padding-top: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px
}

/* Back button */
.back-button {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
  background-color: #eeeeee;
  border: none;
  color: #5e5656;
  cursor: pointer;
}

.back-button:hover {
  background-color: #cacaca;
  color: black;
}

/* Header 2 */
h2 {
  color: #2b2828;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
}
p {
  color: #2b2828;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

/* Header 3 */
h3 {
  padding-left: 20px
}

.content-container {
  max-width: 1300px;
  margin: 0 auto;
}

/* Sort options */
.article-list-container {
  display: flex;
  gap:30px;
}

.left-pane {
  background-color: #f1f1f1;
  padding: 20px;
  margin-left: -100px;
  width: 800px;
}

.left-pane h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
}

.sort-options-button {
  background-color: #464646;
  color: #f5f5f5;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  font-size: 17px;
  margin-bottom: 10px;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.sort-options-button:hover {
  background-color: #707070;
  color: #f5f5f5;
}

.sort-options label {
  display: block;
  margin: 5px 0;
}

.sort-options select {
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sort-options select:hover {
  border-color: #aaa;
}


/* Article List */
.article-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

/* Article 1 */
/* ArticleCards */
.article-card1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  overflow: hidden;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 5px 0px #998b8b;
  transition: transform 0.2s ease-in-out;
  position: relative;
  height: 300px;
  width: 1260px
}

.article-card1:hover {
  transform: scale(1.03);
}

.article-card1 img {
  width: 400px;
  height: 260px;
  object-fit: cover;
  margin: 20px;
  padding-right: -20px;
}

/* Right-hand side content*/
.article-card-content1 h2 {
  font-weight: bold;
  margin: 0;
  color: #2b2828;
  font-size: 1.6rem;
  padding-right: 10px;
  padding-top: 20px;
  text-align: left;
}

.article-card-content1 h4 {
  color: #2c2c2c;
  font-size: 1.2rem;
  text-align: left;
  text-transform: none;
  padding-right: 0px;
  margin-right: 15px;
  margin-top: 20px;
  padding-right: 10px;
  font-weight: normal;
}

.article-card-content1 p {
  color: #555;
  font-size: 1.3rem;
  text-align: left;
  text-transform: capitalize;
  padding-right: 10px
}

.comment-vote-container1 {
  display: flex;
  align-items: left;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px; 
}

/* ArticleCards */
.article-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #998b8b;
  transition: transform 0.2s ease-in-out;
  position: relative;
  height: 250px;
  width: 620px
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card img {
  width: 250px;
  height: 205px;
  object-fit: cover;
  margin: 20px;
  padding-right: -20px;
}

/* Right-hand side content*/
.article-card-content h2 {
  font-weight: bold;
  margin: 0;
  color: #2b2828;
  font-size: 1.3rem;
  padding-right: 10px;
  text-align: left;
}

.article-card-content p {
  color: #555;
  font-size: 1.2rem;
  text-align: left;
  text-transform: capitalize;
  padding-right: 10px
}

.comment-vote-container {
  display: flex;
  align-items: left;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px; 
}

/* Nav */
nav {
  background-color: #464646;
  color: #fff;
  padding: 1px;
  text-transform: capitalize;
  height: 50px
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #666666;
}

nav a.active {
  background-color: #666666;
}

nav a.inactive {
  background-color: #333;
}

/* Anchors */
a {
  text-decoration: none;
  color: #000;
}

/* List style */
ul {
  list-style: none;
}

.article-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 1500px) {
  .left-pane {
    margin-left: 0px;
    width: 250px
  }

  .article-list {
    display: block;
  }

  .article-card1 {
    width: 98.5%;
    margin-left: 12px
  }

  .article-card {
    margin: 20px 12px;
    width: 98.5%;
    height: 250px
  }

  .article-card img {
    height: 210px;
    width: 400px;
    padding-bottom: 0px
  }

  .article-card-content h2 {
    padding-top: 21px
  }
}



@media (max-width: 1300px) {
  .article-card1 {
    width: 96%;
  }

  .article-card {
    width: 96%;
  }
}

@media (max-width: 1250px) {
  .article-card1 {
    height: 350px
  }

  .article-card-content1 h2{
    font-size: 1.4rem
  }

  .article-card-content1 h4{
    font-size: 1.1rem
  }

  .article-card-content1 p{
    font-size: 1.2rem
  }

  .article-card1 img {
    height: 310px;
  }
}

@media (max-width: 1150px) {
  .article-card1 img {
    width: 330px;
  }

  .article-card img {
    width: 330px;
  }
}



@media (max-width: 1100px) {
  .article-card1 img {
    width: 250px;
  }

  .article-card img {
    width: 250px;
  }
}

@media (max-width: 1000px) {

  h2 {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 0px
  }

  .back-button {
    display: none;
  }

  .article-list-container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .left-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 105%;
    margin-left: 0px;
    padding: 0px;
    background-color: #464646;
  }
  
  .left-pane h2 {
    margin-left: 38px;
    padding-top: 0px;
  }
  
  .right-pane {
    width: 100%;
  }
  
  .comment-vote-container {
    font-size: 40px;
    height: 15px;
  }

  /* Sort Options */

.sort-options {
  margin-left: 20px
}

.sort-options-button {
  margin: 0 auto;
  width: 200px;
  background-color: #464646;
  font-weight: bold;
  display: flex; 
  align-items: center;
}

.sort-options-button:hover {
  background-color: #464646;
}

.sort-options label {
  display: block;
  margin: 5px 0px;
  margin-right: 15px;
  min-width: 150px;
  color:white;
  padding-bottom: 10px
}

.sort-options select {
  width: 170px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sort-options select:hover {
  border-color: #aaa;
}

}

/* Screen at or below 768 pixels */
@media (max-width: 768px) {
  header {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .single-article-image {
    width: 90%; 
    height: auto;
  }

  .refine-articles {
    width: 97%;
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #464646;
    color: #fff;
    text-align: center;
    z-index: 1000;
    height: 70px
  }

  nav ul {
    height: 70px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px
  }

  nav li {
    margin: 0rem;
    flex-basis: 100%;
    height: 70px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 1.6rem 1.1rem;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .article-list {
    display: block;
  }

  .article-card {
    display: block;
    margin: 20px 12px;
    width: 95%;
    height: 370px
  }

  .article-card img {
    width: 90%;
    height: 170px;
    padding-bottom: 0px
  }

  .article-card-content {
    padding-top: 0px;
    padding-left: 20px;
  }

  .article-card-content h2 {
    padding-top: 0px;
    font-size: 1.2rem;
  }

  .article-card-content p {
    color: #555;
    font-size: 1rem;
    text-align: left;
    text-transform: capitalize;
  }

  .article-card1 {
    display: block;
    margin: 20px 12px;
    width: 95%;
    height: 500px
  }

  .article-card1 img {
    width: 90%;
    height: 170px;
    padding-bottom: 0px
  }

  .article-card-content1 {
    padding-top: 0px;
    padding-left: 20px;
  }

  .article-card-content1 h2 {
    padding-top: 0px;
  }

  .article-card-content1 p {
    color: #555;
    text-align: left;
    text-transform: capitalize;
  }

  .logo-image {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0px;
    margin: 0px;
    padding-left:10px;
    padding-top: 10px
  }

  .avatar-small-image {
    height: 50px;
    width: 50px;
    top: 35px
  }

  h2 {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 0px
  }

  .back-button {
    display: none;
  }

  .article-list-container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .left-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 105%;
    margin-left: 0px;
    padding: 0px;
    background-color: #464646;
  }
  
  .left-pane h2 {
    margin-left: 38px;
    padding-top: 0px;
  }
  
  .right-pane {
    width: 100%;
  }
  
  .comment-vote-container {
    font-size: 40px;
    height: 15px;
  }

  /* Sort Options */

.sort-options {
  margin-left: 20px
}

.sort-options-button {
  margin: 0 auto;
  width: 200px;
  background-color: #464646;
  font-weight: bold;
  display: flex; 
  align-items: center;
}

.sort-options-button:hover {
  background-color: #464646;
}

.sort-options label {
  display: block;
  margin: 5px 0px;
  margin-right: 15px;
  min-width: 150px;
  color:white;
  padding-bottom: 10px
}

.sort-options select {
  width: 170px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sort-options select:hover {
  border-color: #aaa;
}

}

@media (max-width: 500px) {
  .article-card-content1 h2 {
    font-size: 1.2rem;
  }

  .article-card-content1 h4 {
    font-size: 0.95rem;
  }

  .article-card-content1 p {
    font-size: 1rem;
  }
}

