body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 500px
}

.top-banner1 {
  background-color: rgb(35, 21, 99);
  margin: -5px;
  height: 20px
}
.top-banner2 {
  background-color: #c1ccdd;
  margin: -5px
}

/* Header image */
.logo-image {
  height: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px
}

/* Header 2 */
h2 {
  color: #2b2828;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
}
p {
  color: #2b2828;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

/* Header 3 */
h3 {
  padding-left: 20px
}

.content-container {
  max-width: 1300px;
  margin: 0 auto;
}


/* Article List */
.article-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

/* ArticleCards */
.article-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #998b8b;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card img {
  width: 250px;
  height: 170px;
  object-fit: cover;
  padding: 20px;
  padding-right: -20px;
}

/* Right-hand side content*/
.article-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.article-card-content h2 {
  font-weight: bold;
  margin: 0;
  color: #2b2828;
  font-size: 1.3rem;
  padding-right: 10px;
  text-align: left;
}

.article-card-content p {
  color: #555;
  font-size: 1.2rem;
  text-align: left;
  text-transform: capitalize;
}

.comment-container {
  display: flex;
  align-items: left;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px; 
}

/* Nav */
nav {
  background-color: #333;
  color: #fff;
  padding: 1px;
  text-transform: capitalize;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #555;
}

nav a.active {
  background-color: #555;
}

nav a.inactive {
  background-color: #333;
}

/* Anchors */
a {
  text-decoration: none;
  color: #000;
}

/* List style */
ul {
  list-style: none;
}

/* Back button */
.back-button {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
  background-color: #eeeeee;
  border: none;
  color: #5e5656;
  cursor: pointer;
}

.back-button:hover {
  background-color: #cacaca;
  color: black;
}


.article-list {
    list-style: none;
    padding: 0;
}



/* Screen at or below 768 pixels */
@media (max-width: 768px) {
  header {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .single-article-image {
    width: 90%; 
    height: auto;
  }

  nav {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
  }

  nav li {
    margin: 0.5rem;
    flex-basis: 50%;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }

  .article-list {
    display: block;
  }

  .article-card {
    display: block;
    margin: 20px auto;
    width: 95%;
  }

  .article-card img {
    width: 90%;
    height: auto;
    padding-bottom: 0px
  }

  .article-card-content {
    padding-left: 20px;
  }

  .article-card-content h2 {
    font-size: 1.3rem;
  }

  .article-card-content p {
    color: #555;
    font-size: 1.2rem;
    text-align: left;
    text-transform: capitalize;
  }

  .logo-image {
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px
  }

}

