/* Single article */
.topic-tag {
    background-color: #ddd;
    padding: 10px 0px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 25px
}

.topic-tag:hover {
    background-color: #b8b8b8;
}

.single-article-image {
    display: block;
    margin: 0 auto;
    width: 96.4%;
    height: 600px;
    object-fit: cover;
}

.single-article-body {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: left
}

.single-article-info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.author {
    font-weight: bold;
}

.time-ago {
    color: #555;
}

.single-article-banner {
    padding-right: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: #c1ccdd;
}

/* Portfolio article */
.portfolio-article-body {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: left
}

.portfolio-links {
    color: blue;
    text-decoration: underline
}

/* Comment count */
.comment-count a:hover {
    color: #007BFF;
    cursor: pointer;
}

/* CommentsList */
.comments-list {
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Post comment */
.post-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px; 
    text-align: center;
    font-size: 20px
}

.post-comment:hover {
    color: #007BFF;
    cursor: pointer;
}

/* CommentCard */
.comment-card {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.delete-text {
    color: #007BFF;
}

.comment-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.comment-card-header h3 {
    margin: 0;
    padding-left: 5px;
    font-size: 1.2rem;
}

.comment-card-header p {
    margin: 0;
    font-size: 1rem;
    padding-right: 5px;
    color: #555;
}

.comment-body {
    font-size: 1rem;
    padding: 10px;
    text-align: left;
}

.comment-votes {
    font-size: 0.9rem;
    color: #555;
    padding-left: 10px;
    text-align: left;
}

/* Error text */
.error-text {
    color: red
}

/* Successful post text */
.post-text {
    color: #007BFF;
}

/* Comment form */
.comment-form {
    margin-top: 20px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.comment-form button {
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s;
}

.comment-form button:hover {
    background-color: #0056b3;
}

.load-more-comments {
    background-color: #e1f1ff;
    width: 97%;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-left: 20px
}

.delete-comment-button {
    background-color: #7c7c7c;
    color: #f5f5f5;
    padding: 10px 10px;
    margin-left: 6px;
    margin-top: 10px;
    margin-right: 0px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 17px
}

.delete-comment-button:hover {
    color: #f5f5f5;
    background-color: #29283b;
}

/* Screen at or below 768 pixels */
@media (max-width: 768px) {
    .comment-form textarea {
        width: 85%;
        height: 60px
    }

    .topic-tag {
        background-color: #ddd;
        padding: 5px 0px;
        width: 120px;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        border-radius: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 13px
    }

    .delete-comment-button {
        margin-left: 9px;
        margin-top: 10px
    }

    .single-article-image {
        height: 300px;
        width: 94%;
        object-fit: cover;
    }

    .load-more-comments {
        width: 90%
    }

    body {
        margin-bottom: 90px;
    }

    .comment-card-header h3 {
        font-size: 1rem;
    }
    
    .comment-card-header p {
        font-size: 0.9rem;
    }

    .comment-form button {
        font-size: 1.2rem;
    }

    .post-comment span {
        font-size: 1.2rem;
    }

}