.voter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    grid-template-columns: 1fr 3fr;
    width: 200px;
}

.button-container h3 {
    padding: 0;
}

button {
    font-size: 20px;
    background: none;
    cursor: pointer;
    border: 0px;
    color: black;
    width: 60px
}

button:hover {
    color: #007BFF;
}


button[disabled] {
    cursor: not-allowed;
    color: lightgray;
}

button[disabled]:hover {
    cursor: not-allowed;
    color: lightgray;
}


